<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <button class="btn btn-success" type="button" (click) = "connect()"
                *ngIf = "!connected">Connect</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button" (click) = "disconnect()"
                *ngIf = "connected">Disconnect</button>
            </li>
        </ul>

    </div>
    <div class="card-body" style="overflow: scroll; height: 360px;" *ngIf = "connected">

    </div>
    <div class="card-footer" *ngIf = "connected">
        <form class="form-inline">
            <div class="form-group mx-3">
                <input type="text" class="form-control" placeholder="type a message" name="text">
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>